*{
	padding: 0;
	margin: 0;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-button{
	padding: 5px;
}

.menu-button.selected{
	background-color:cadetblue;
}

#canvas{
	background-color:whitesmoke;
	width: 100vw;
	height: 100vh;
}


.node{
	position: absolute;

	background: yellow;

	border-radius: 50%;
}

.node.selected{
	background: orange;
}

.node p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	text-align: center;
	font-weight: bold;
}

.node.onHandTool{
	background-color: red;
}

.edge{
	overflow: visible;
	position: absolute;
	transform-origin: left top;
}

.edge path{
	fill: none;
}

.edge text {
	font-size: large;
	font-weight: bold;
	stroke: none;
}

.edge-type-1{
	stroke:crimson;
	fill: black;
}

.edge-type-2{
	stroke:aqua;
	fill: black;
}

.sup-text{
	position: absolute;
	top: 0;
	left: 50px;
}